html,
body,
#app {
  height: 100%;
}

.loading {
  height: 100%;
  .spinner-border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.btn {
  margin: 0 4px;
  line-height: 1em;
}

.isEditing {
  background-color: #f3f3ff;
  &:focus {
    background-color: #f3f3ff;
  }
  &.is-invalid {
    background-color: #fff8f8;
  }
}
